.idea/compiler.xml
.idea/vcs.xml
.idea/misc.xml
.idea/encodings.xml
.idea/workspace.xml
.idea/jarRepositories.xml
.idea/uiDesigner.xml
.idea/shelf/
.idea/discord.xml

target/
.env
.volumes/**/*volume/
