<mj-section padding="0">
  <mj-column>
    <mj-image
      width="80px"
      border-radius="20%"
      src="$${profileImagePlaceholder}$$"/>
    <mj-text align="center" font-size="20px" font-weight="bold">
      [[vsph.i18n.mail.hello]] {{ username }}!
    </mj-text>
    <mj-text align="center" color="hsl(210, 12%, 50%)" font-size="15px">
      [[vsph.i18n.mail.resetMfaState.paragraph1]]:
      <a style="color: black" href="mailto:{{ replyMail }}">{{ replyMail }}</a>.
    </mj-text>
  </mj-column>
</mj-section>
