<mj-section padding="0">
  <mj-column>
    <mj-image
      width="80px"
      border-radius="20%"
      src="{{ profileBase64 }}"/>
    <mj-text align="center" font-size="20px" font-weight="bold">
      [[vsph.i18n.mail.hello]] {{ username }}!
    </mj-text>
    <mj-text align="center" color="rgb(140,140,140)" font-size="15px">
      [[vsph.i18n.mail.updatedMfaState.paragraph1]]:
      {{#isEnabled}}
        <span style="color: black; font-weight: 600">[[vsph.i18n.mail.enabled]]</span>.
      {{/isEnabled}}
      {{^isEnabled}}
        <span style="color: black; font-weight: 600">[[vsph.i18n.mail.disabled]]</span>.
      {{/isEnabled}}
      [[vsph.i18n.mail.updatedMfaState.paragraph2]]
      <a style="color: black" href="mailto:{{ replyMail }}">{{ replyMail }}</a>.
    </mj-text>
  </mj-column>
</mj-section>
